<main>

  <form action="/edit" method="post" id="editForm">

    <input type="hidden" name="id" value="{{task.id}}" />
    <input type="text" name="name" value="{{task.task}}" id="editInput" />
    <button type="submit" name="edit" id="editSubmit">
      <i class="fa-solid fa-check"></i></button>
  </form>

</main>